version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_NETWORK_ENV=TESTNET_PREVIEW
    restart: unless-stopped
    healthcheck: {}
    volumes:
      - ./logs:/app/logs
    network_mode: host

volumes:
  logs:
