version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_NETWORK_ENV: TESTNET_PREVIEW
    restart: unless-stopped

networks:
  dev-network:
    driver: bridge
